<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueCloudDS.MER360.GoogleMaps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BlueCloudDS.MER360.GoogleMaps.Properties.Settings>
            <setting name="Google_API_Key" serializeAs="String">
                <value>AIzaSyCVbstxu_w_R80iysiKkk8HFmu41oAN4pk</value>
            </setting>
            <setting name="Google_Maps_Directions_Api_Url" serializeAs="String">
                <value>https://maps.googleapis.com/maps/api/directions/json</value>
            </setting>
        </BlueCloudDS.MER360.GoogleMaps.Properties.Settings>
    </applicationSettings>
</configuration>